:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2c3e50;
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Ajout pour éviter le scroll horizontal */

}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #9e9ad3;
  transform: translateY(-1px);
}

button:active {
  transform: translateY(0);
}